//* Page Dimensions

$font-size-start: 16px;
$navbar-height: 50px;
$sidebar-width: 150px;
$padding-text: 8px;
$padding-box: 10px;

//* Color Palette
$color-black-lighter: #262626;
$color-black: #222222;
$color-black-darker: #191919;
$color-black-dark: #141414;
$color-red: #F43344;
$color-text: #FFFFFF;
$color-text-watermark: #9B9B9B;
$color-green: #16DB6D;
$color-blue-light: #B5E6FA;
