.ng-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: $color-bluegreen-darkest;
  height: 100%;
  width: $sidebar-width;
  padding-top: $navbar-height + $padding-box;
  z-index: 2;

  .tab {
    display: block;
    padding: $padding-box $padding-box+$padding-text;
    color: $color-text;

    &.active {
      background-color: $color-bluegreen-darker;
      border-left: 2px solid $color-yellow;
    }

  }
}
