.page-process {
  height: 100%;
  padding-top: $input-height + $padding-box;

  .grid {
    height: 100%;
  }

  .row {
    position: relative;
  }

  .col {
    padding: 5px;
  }

  .row-1 {
    height: 25%;

    .col-1 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 80%;
    }

    .col-2 {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 20%;
    }
  }

  .row-2 {
    height: 75%;

    .col-1 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 40%;
    }

    .col-2 {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 60%;
    }
  }

  .card {
    display: inline-block;
    width: 100%;
    height: 100%;

    // .card-ml {
    //   padding-top: $input-height + $padding-box;
    // }
  }

  .mood-svg {
    position: absolute;
    bottom: $padding-box + 20px;
    left: $padding-box;
    right: $padding-box;
    margin: auto;
    width: 60%;
  }

}
