<div class="page-process">
  <div class="grid">
    <div class="row row-1">
      <div class="col col-1">
        <div class="card card-eeg">
          <div class="card-title">
            EEG Reading
          </div>
          <div class="card-body">
            <ng-line-chart filename="buffer" page="process"></ng-line-chart>
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="card card-mood">
          <div class="card-title">
            Mood
          </div>
          <div class="card-body">
            <img src="/static/img/smiley/smiley-sad-white.svg" class="mood-svg"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-2">
      <div class="col col-1">
        <div class="card card-psd">
          <div class="card-title">
            Power Spectrum Density
          </div>
          <div class="card-body">
            <ng-stem-chart filename="psd"></ng-line-chart>
          </div>
          <div class="card-title">
            Feature Extraction
          </div>
        </div>
      </div>
      <div class="col col-2">
        <div class="card card-ml">
          <div class="card-title">
            Machine-Learning Classification
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
