<div class="process">
  {% include "/includes/tab-bar.html" %}

  <div class="process-grid">
    <div class="row row-1">
      <div class="col col-1">
        <div class="card">
          EEG Reading
        </div>
      </div>
      <div class="col col-2">
        <div class="card">
          Mood
        </div>
      </div>
    </div>
    <div class="row row-2">
      <div class="col col-1">
        <div class="card">
          PSD Frequency
        </div>
      </div>
      <div class="col col-2">
        <div class="card">
          Machine-Learning Classification
        </div>
      </div>
    </div>
  </div>
</div>
