//* Typography
$roboto-font-stack: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
@mixin font-smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: $padding-box;
}

.card {
  background: $color-bluegreen-lighter;
  padding: $padding-box;
  border-radius: 2px;

  .card-title {
    font-weight: 300;
    font-size: 1.2em;
  }
}
