//* Page Dimensions

$font-size-start: 16px;
$navbar-height: 50px;
$sidebar-width: 150px;
$padding-text: 8px;
$padding-box: 10px;

//* Color Palette
$color-bluegreen-darkest: #002533;
$color-bluegreen-darker: #002F3F;
$color-bluegreen: #093646;
$color-bluegreen-lighter: #174150;
$color-bluegreen-light: #3C606C;
$color-yellow: #FFA535;
$color-pink: #C135AA;
$color-blue: #33B8CE;
$color-orange: #FDAE3D;
$color-text: #F2F2F3;
$color-green: #1FCD4C;
